In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('car data.csv')

Shape of the DataFrame

In [3]:
df.shape

(10, 2)

In [4]:
row, col = df.shape

In [5]:
row

10

In [6]:
col

2

Top nth rows

In [7]:
df.head()

   speed  risk
0    123    20
1    145    30
2    102    45
3    130    62
4    112    35

In [8]:
df.head(2)

   speed  risk
0    123    20
1    145    30

Last nth rows

In [9]:
df.tail()

   speed  risk
5    142    69
6    175    54
7    140    12
8    156    54
9     60    36

In [10]:
df.tail(3)

   speed  risk
7    140    12
8    156    54
9     60    36

Range of entries

In [11]:
df[5:9]

   speed  risk
5    142    69
6    175    54
7    140    12
8    156    54

Accessing the columns

In [12]:
df.speed

0    123
1    145
2    102
3    130
4    112
5    142
6    175
7    140
8    156
9     60
Name: speed, dtype: int64

In [13]:
df['speed']

0    123
1    145
2    102
3    130
4    112
5    142
6    175
7    140
8    156
9     60
Name: speed, dtype: int64

In [14]:
df[['speed']]

   speed
0    123
1    145
2    102
3    130
4    112
5    142
6    175
7    140
8    156
9     60

In [15]:
df.columns

Index(['speed', 'risk'], dtype='object')

Accessing nth columns

In [16]:
df[['speed']].head()

   speed
0    123
1    145
2    102
3    130
4    112

In [17]:
df[['speed','risk']].head()

   speed  risk
0    123    20
1    145    30
2    102    45
3    130    62
4    112    35

Type of column

In [18]:
type(df['speed'])

pandas.core.series.Series

In [19]:
type(df[['speed']])

pandas.core.frame.DataFrame