In [1]:
import pandas as pd

In [2]:
url = 'https://raw.githubusercontent.com/rashakil-ds/Public-Datasets/main/Screen%20Time%20Data.csv'
df = pd.read_csv(url)
df.head()

,index,Date,Week Day,Total Screen Time,Social Networking,Reading and Reference,Other,Productivity,Health and Fitness,Entertainment,Creativity,Yoga
0,0,04/17/19,Wednesday,187,89,17,41,22,0,0,0,0
1,1,04/18/19,Thursday,123,78,17,8,9,0,0,0,0
2,2,04/19/19,Friday,112,52,40,8,4,0,3,0,0
3,3,04/20/19,Saturday,101,69,9,38,2,0,3,0,0
4,4,04/21/19,Sunday,56,35,2,43,3,0,1,1,0

In [3]:
df.shape

(28, 12)

In [4]:
df.index

RangeIndex(start=0, stop=28, step=1)

In [5]:
len(df)

28

In [6]:
df.columns

Index(['index', 'Date', 'Week Day', 'Total Screen Time ', 'Social Networking',
       'Reading and Reference', 'Other', 'Productivity', 'Health and Fitness',
       'Entertainment', 'Creativity', 'Yoga'],
      dtype='object')

#### ***Maximum Value***

In [9]:
df['Total Screen Time '].max()

np.int64(198)

#### ***Minimum Value***

In [11]:
df[['Total Screen Time ']].min()

Total Screen Time     52
dtype: int64

#### ***Standred Deviattion***

In [14]:
df['Total Screen Time '].std()

np.float64(43.562322320164775)

#### ***Mean***

In [12]:
df['Total Screen Time '].mean()

np.float64(113.25)

#### ***Mode***

In [13]:
df['Entertainment'].mode()

0    0
Name: Entertainment, dtype: int64

#### ***Values Counts***

In [15]:
df['Entertainment'].value_counts()

Entertainment
0     20
1      4
3      2
32     1
9      1
Name: count, dtype: int64

#### ***Quartile***

In [16]:
#25%
df['Total Screen Time '].quantile(0.25)

np.float64(83.5)

In [17]:
#50%
df['Total Screen Time '].quantile(0.50)

np.float64(111.0)

In [18]:
#75%
df['Total Screen Time '].quantile(0.75)

np.float64(137.25)

In [19]:
#100%
df['Total Screen Time '].quantile(1)

np.float64(198.0)

In [20]:
#0%
df['Total Screen Time '].quantile(0)

np.float64(52.0)

#### ***Describe All***

In [21]:
df.describe()

,index,Total Screen Time,Social Networking,Reading and Reference,Other,Productivity,Health and Fitness,Entertainment,Creativity,Yoga
count,28.000000,28.000000,28.000000,28.000000,28.000000,28.000000,28.000000,28.000000,28.000000,28.000000
mean,13.500000,113.250000,60.714286,8.714286,14.821429,9.071429,1.285714,1.821429,0.214286,0.571429
std,8.225975,43.562322,22.853571,9.340700,13.754605,6.097532,3.952094,6.188721,0.568112,0.503953
min,0.000000,52.000000,25.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000
25%,6.750000,83.500000,41.750000,2.000000,4.750000,3.000000,0.000000,0.000000,0.000000,0.000000
50%,13.500000,111.000000,58.000000,5.000000,9.000000,8.000000,0.000000,0.000000,0.000000,1.000000
75%,20.250000,137.250000,76.500000,13.500000,21.500000,15.000000,0.000000,1.000000,0.000000,1.000000
max,27.000000,198.000000,109.000000,40.000000,43.000000,22.000000,15.000000,32.000000,2.000000,1.000000

#### ***Value Sorting***

In [24]:
df['Social Networking'].sort_values()

8      25
25     28
17     34
4      35
26     37
13     40
27     41
11     42
22     42
12     46
24     49
2      52
21     53
6      56
15     60
16     64
5      68
3      69
20     70
10     75
9      76
1      78
19     81
0      89
14     90
23     93
7      98
18    109
Name: Social Networking, dtype: int64

***Values are sort in ascending order by default. 
If desecnding are required, set the ascending equal to false.***

In [25]:
df['Social Networking'].sort_values(ascending=False)

18    109
7      98
23     93
14     90
0      89
19     81
1      78
9      76
10     75
20     70
3      69
5      68
16     64
15     60
6      56
21     53
2      52
24     49
12     46
11     42
22     42
27     41
13     40
26     37
4      35
17     34
25     28
8      25
Name: Social Networking, dtype: int64

#### ***Showing first n-largest values***

In [26]:
df.nlargest(10, 'Social Networking')

,index,Date,Week Day,Total Screen Time,Social Networking,Reading and Reference,Other,Productivity,Health and Fitness,Entertainment,Creativity,Yoga
18,18,05/05/19,Sunday,133,109,5,1,3,0,0,0,1
7,7,04/24/19,Wednesday,135,98,3,33,16,0,0,0,0
23,23,05/10/19,Friday,161,93,13,17,16,1,0,0,1
14,14,05/01/19,Wednesday,127,90,0,10,7,0,0,0,1
0,0,04/17/19,Wednesday,187,89,17,41,22,0,0,0,0
19,19,05/06/19,Monday,144,81,4,5,3,0,0,0,1
1,1,04/18/19,Thursday,123,78,17,8,9,0,0,0,0
9,9,04/26/19,Friday,198,76,8,29,15,0,32,0,0
10,10,04/27/19,Saturday,116,75,10,20,5,0,0,0,0
20,20,05/07/19,Tuesday,110,70,5,6,15,0,9,0,1

#### ***Showing first n-smallest values***

In [27]:
df.nsmallest(10, 'Social Networking')

,index,Date,Week Day,Total Screen Time,Social Networking,Reading and Reference,Other,Productivity,Health and Fitness,Entertainment,Creativity,Yoga
8,8,04/25/19,Thursday,52,25,7,3,16,0,0,0,0
25,25,05/12/19,Sunday,52,28,1,1,6,0,0,1,1
17,17,05/04/19,Saturday,58,34,4,5,3,0,1,0,1
4,4,04/21/19,Sunday,56,35,2,43,3,0,1,1,0
26,26,05/13/19,Monday,61,37,1,0,4,0,0,0,1
13,13,04/30/19,Tuesday,79,40,2,9,12,0,0,0,1
27,27,05/14/19,Tuesday,88,41,2,7,15,0,0,0,1
11,11,04/28/19,Sunday,85,42,22,4,2,0,0,0,0
22,22,05/09/19,Thursday,96,42,15,16,19,0,0,0,1
12,12,04/29/19,Monday,109,46,8,13,9,15,1,0,1